.ui.vertical.segment
  .ui.container
    .ui.large.inverted.secondary.pointing.menu
      %a.toc.item
        %i.sidebar.icon
      = link_to 'Auth', '/', class: 'item'
      -if user_signed_in?
        = link_to "Log out", destroy_user_session_path, method: :delete, class: 'item right'
        = link_to current_user.email, edit_user_registration_path, class: 'item right'
        = link_to "", "/admin", class: 'item right'
      -else
        = link_to "Log in", new_user_session_path, class: 'item right'
        = link_to 'Sign up', new_user_registration_path, class: 'item right'
