.ui.vertical.segment
  .ui.container
    .ui.large.secondary.menu
      .ui.header.item
        = link_to 'YoungCreatives', '/'
      %a.item Min profil
      %a.item Annonser
      %a.item Företag
      .right.menu
      -if user_signed_in?
        .ui.dropdown.item
          = get_full_name(current_user.account)
          %i.dropdown.icon
          .menu
            .item
              = link_to "Profil", edit_user_registration_path(current_user)
            .item
              = link_to "Administration", "/admin"
            .item
              = link_to "Log out", destroy_user_session_path, method: :delete
