.ui.vertical.segment
  .ui.container
    .ui.large.secondary.menu
      .ui.header.item
        = link_to 'YoungCreatives', '/'
      %a.item Min profil
      %a.item Annonser
      %a.item Företag
      .right.menu
      -if user_signed_in?
        .item
        = link_to "Log out", destroy_user_session_path, method: :delete
        .item
        = link_to current_user.email, edit_user_registration_path
        .item
        = link_to "Administration", "/admin"
      -else
        .item
          = link_to "Logga in", new_user_session_path, class: 'ui small primary button'
        .item
          = link_to "Registrera", new_user_registration_path, class: 'ui small secondary button'
